.hover-item:hover {
  background-color: #f3f4f6 !important;
}

.hover-item.active {
  background-color: #f3f4f6 !important;
  color: black !important;
}

.dark-mode .hover-item:hover {
  background-color: #ffc107a8 !important;
  color: black !important;
}

.dark-mode .hover-item.active {
  background-color: #444 !important;
  color: #ffffff !important;
}

/* Dark mode input styles */
.dark-mode .form-control {
  background-color: #333333 !important;
  color: #ffffff !important;
  border-color: #555555;
}
