.hover-item:hover {
  background-color: #f3f4f6 !important;
}

.hover-item.active {
  background-color: #e0e0e0 !important;
  color: black !important;
}

.dark-mode .hover-item:hover {
  background-color: #ffc107a8 !important;
  color: black !important;
}

.dark-mode .hover-item.active {
  background-color: #ffc107a8 !important;
  color: black !important;
}

.dark-mode .form-control {
  background-color: #333333 !important;
  color: #ffffff !important;
  border-color: #555555;
}
.ql-editor{
  font-size: 1.2rem;
}
.quill-dark .ql-toolbar {
  background-color: #333;
}

.quill-dark .ql-stroke {
  stroke: #ffa500 !important;
}

.quill-dark .ql-picker-item:hover {
  color: #ffa500 !important;
}

.quill-dark .ql-picker .ql-picker-label {
  color: #ffa500 !important;
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
}

.quill-dark .ql-editor.ql-blank::before {
  color: white !important; /
}

.form-control:hover,
.form-select:hover {
  border-color: #ffa500; 
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25); 
}

.form-control:focus,
.form-select:focus{
  border-color: #ffa500 !important; 
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25) !important; 
}

